{% extends 'base.html' %}

{% block main_column %}

    <form action="">
        <div class="my-title">                        
            <div class="md-3">
                <label for="validationServer03" class="form-label">Title</label>
                <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
                <div id="validationServer03Feedback" class="invalid-feedback">
                Please provide a valid title.
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Text</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="shgbdflnsdfbidsgvf"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tags</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="??adiufb iwdfiy uwbafid?">
            </div>

            <button type="button" class="btn btn-primary btn-lg">ASK!</button>
        </div>
    </form>

{% endblock main_column %}
