{% extends 'base.html' %}

{% block main_column %}

    <ul class="nav nav-tabs my-title">
        <li class="nav-item">
            <a class="nav-link {% if not is_hot %}active{% endif %} my-big-text" aria-current="page" href="{% url "app:index" %}">New questions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if is_hot %}active{% endif %} my-big-text" href="{% url "app:hot" %}">Hot questions</a>
        </li>
    </ul>

    {% for question in page_obj %}
        {% include 'includes/question_card.html' %}
    {% endfor %}

    {% include 'includes/paginator.html' %}

{% endblock main_column %}
