{% extends 'base.html' %}

{% block main_column %}

    {% include 'includes/question_card.html' %}

    {% for answer in page_obj %}

        {% include 'includes/answer_card.html' %}

    {% endfor %}

    {% include 'includes/paginator.html' %}

    <hr>
    <form action="">
        <div class="my-title">                        
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter your answer</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="shgbdflnsdfbidsgvf"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-lg">Answer!</button>
        </div>
    </form>

{% endblock main_column %}
