<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>AskMeMalyshev</title>

        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/my_styles.css">
    </head>

    <body>
        <header>
            <div class="my-header">
                <div class="row">



                    <div class="col-4 my-header-title">
                        <div>
                            <a href="#" class="nav-link">AskMeMalyshev</a>
                        </div>
                    </div>




                    <div class="col-4">
                        <form class="d-flex my-ask-form" role="search">
                            <input class="form-control me-2" type="search" placeholder="Ask" aria-label="Ask">
                            <button class="btn btn-outline-success" type="submit">Ask</button>
                        </form>
                    </div>



                    <div class="col-4">
                        


                        <div class="my-small-user-card">
                            

                            <nav class="nav nav-fill">
                                <a class="nav-link" style="padding-left: 0px; padding-right: 25px;" href="#">log in</a>
                                <a class="nav-link" style="padding-left: 25px; padding-right: 0px;" href="#">register</a>
                            </nav>
                                
                        </div>
                        




                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="row">
                <div class="col-8">
                    



                    <div class="question-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="my-middle-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="my-title">
                                    <div class="my-big-text">
                                        <a href="#" class="nav-link">
                                            Question 1
                                        </a>
                                    </div>
                                </div>

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="my-title">
                                    Tags:
                                
                                
                                    <div class="">
                                        <button type="button" class="btn btn-outline-primary">Primary</button>
                                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                        <button type="button" class="btn btn-outline-success">Success</button>
                                    </div>
                                </div>

                                <div class="my-title">
                                    <a href="#">
                                        answer (3)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="answer-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="small-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="form-check my-title">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Correct!
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="answer-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="small-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="form-check my-title">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Correct!
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="answer-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="small-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="form-check my-title">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Correct!
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="answer-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="small-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="form-check my-title">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Correct!
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>



                    <div class="answer-card">
                        <div class="row">
                            <div class="col-3">
                                <div class="my-title">
                                    <img src="../static/img/default_picture.jpg" class="small-img" alt="your photo">
                                </div>

                                <div class="my-title">
                                    likes: 5
                                    <button type="button" class="btn btn-success">Like</button>
                                    <button type="button" class="btn btn-danger">Dislike</button>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="my-text">
                                    ygdhuagsdg ghgvhjvjhb yfchhgvhgvkghv jvktvvuyvoyu gfuhsifhowegf of guewgfuygwu fyugds fuwdgfo wgr foygqeroifgereoiuh ouer guw gpiuh p uhqerpughe ruh guerh uer iguhherughe er gerh giyerhg iuerh gghp
                                </div>

                                <div class="form-check my-title">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                      Correct!
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="my-title">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>


                    <form action="">
                        <div class="my-title">   
                            <hr>                     
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Enter your answer</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="shgbdflnsdfbidsgvf"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary btn-lg">Answer!</button>
                        </div>
                    </form>














                    

                </div>

                <div class="col-4">
                    <div class="my-title my-big-text">
                        <a href="#" class="nav-link">Popular tags</a>
                    </div>
                    
                    <div class="my-title">
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>  
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>  
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button> 
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>  
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>  
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                        <button type="button" class="btn btn-outline-dark">Dark</button>    
                    </div>
                    
                    
                    <div class="my-title my-big-text">
                        <a href="#" class="nav-link">Best members</a>
                    </div>

                    <div class="my-title">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">m</a>
                          
                            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">a</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">b</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-success">c</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">d</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">e</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-info">e</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-light">f</a>
                            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">g</a>
                          </div>
                    </div>
                </div>
            </div>

            

        </main>

        <footer>
            <div class="my-footer">
                <div class="">
                    Copyright © 2022 AskMeMalyshev
                </div>
            </div>
        </footer>
        
    </body>
</html>
