{% extends 'base.html' %}

{% block main_column %}

    <form class="my-title">
                            
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Login</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="pudabs">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">NickName</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="gwdgdlwddj">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        
        <div>
            <label for="image_uploads">Choose images to upload (PNG, JPG)</label>
            <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
        </div>

        <div class="preview">
            <div class="my-title">
                <img src="../static/img/default_picture.jpg" class="my-middle-img" alt="your photo">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </form>

{% endblock main_column %}
